html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.image-container {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
  max-width: 50em;
  width: 100%;
  padding: 0 1.5rem;
}

.banner-title {
  line-height: 1.4;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 4rem;
}

.banner-desc {
  font-size: 2rem;
  font-style: italic;
  margin: 0;
}

.banner-title span {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}
